@tailwind base;
@tailwind components;
@tailwind utilities;

#banner
{
    background-image: url(../assets/images/hero-image.jpg);
    background-size: cover;
    background-position: top;
}

.fa-brands
{
    width: 70px;
    color: black;
}
